:root{
    --text-color: rgb(122,132,80);
    --alt-text-color: rgb(237,125,58);
    --bg-color: rgb(244,228,186);
}

/* ========== top level ==========*/


header{
    color: rgb(129,83,85);
}
body{
    background-color: var(--bg-color);
    font-family: Gill Sans, sans-serif;
}

footer a:link, footer a:visited{
    background-color: rgb(141,158,198);
    color: rgb(129,83,85);
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--bg-color);
}
footer a{
    display: inline-block;
    width: 19%;
}
footer{
    border: solid rgb(129,83,85);
    background-color: rgb(141,158,198);
    text-align: center;
    width: 109%;
    margin-top: 10%;
}

/* ========== text ==========*/

.home-text{
    display: block;
    margin-right: auto;
    margin-left: 30%;
    width: 50%;
    color: var(--alt-text-color);
    text-align: center;
    font-size: large;
}
.dish-label{
    text-align: center;
}
.caption-index{
    display: block;
    margin-right: auto;
    margin-left: 28%;
    width: 50%;
    color: var(--text-color);
    text-align: center;
}
.dish-name a:link, .dish-name a:visited{
    text-decoration: underline;
    color: var(--text-color);
}
.recipe-title{
    color: var(--alt-text-color);
}

/* ========== images ==========*/
.img-cheaters-garlic-aioli-index{
    display: block;
    width: 50%
}
.img-cheaters-garlic-aioli{
    display: block;
    width: 18%;
}
.img-cream-cheese-pumpkin-bread{
    display: block;
    width: 25%;
}
.img-mongolian-beef-index{
    display: block;
    width: 50%;
    margin-left: 25%;
}
.img-mongolian-beef{
    display: block;
    width: 22%;
}
.img-lemon-thyme-chicken{
    display: block;
    width: 50%;
}
img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    max-height: 100%;
    border: solid rgb(129,83,85);
    border-radius: 3%;
    padding: 3%;
}

/* ========== nav ==========*/

nav a:link, nav a:visited{
    background-color: rgb(141,158,198);
    color: rgb(129,83,85);
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
    color: var(--bg-color);
}
nav a{
    display: inline-block;
    width: 19%;
}
nav{
    border: solid rgb(129,83,85);
    background-color: rgb(141,158,198);
    text-align: center;
    width: 109%;
}

/* ========== food-list table ==========*/

.food-list{
    text-align: right;
}


/* ========== sources ==========*/

.source-link:hover{
    text-decoration: underline;
    color: white;
}
.source-link:link, .source-link:visited{
    color: var(--text-color);
}
.sources{
    color: var(--alt-text-color);
}
.source-text{
    color: var(--text-color);
}



